<h1>Film Shelf</h1>

<section class="shelf-container">
	<!-- Films to See -->
	<div class="shelf">
		<h3>Films I want to see</h3>
		<img class="cover-img" src="./img/test_cover_1.jpg"/>
		<img class="cover-img" src="./img/test_cover_2.jpg"/>
	</div>

	<!-- Films Seen -->
	<div class="shelf">
		<h3>Films I own</h3>
		<span class="cover"></span>
		<span class="cover"><img class="cover-img" src="./img/test_cover_1.jpg"/></span>
		<span class="cover"><img class="cover-img" src="./img/test_cover_3.jpg"/></span>
		<span class="cover"><img class="cover-img" src="./img/test_cover_2.jpg"/></span>
		<span class="cover"><img class="cover-img" src="./img/test_cover_4.jpg"/></span>
		<span class="cover"><img class="cover-img" src="./img/test_cover_2.jpg"/></span>
		<span class="cover"><img class="cover-img" src="./img/test_cover_3.jpg"/></span>
		<span class="cover"><img class="cover-img" src="./img/test_cover_1.jpg"/></span>

	</div>
</section>
